<nav>
    <div class="site-title">
        <a href="/"><h1>ListMaker</h1></a>
        <p>Make Your List</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/enter">Enter List</a></li>
    </ul>
</nav>