<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <img src="office.jpg" style="width: 400px;height: 200px;">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam. 
            Laoreet suspendisse interdum consectetur libero id. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris. Vel facilisis volutpat est velit egestas dui id. Nulla facilisi etiam dignissim diam quis. 
            Fames ac turpis egestas sed tempus. Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum. Hendrerit gravida rutrum quisque non. Ipsum dolor sit amet consectetur. Ligula ullamcorper malesuada proin libero. 
            Habitant morbi tristique senectus et netus et. Feugiat pretium nibh ipsum consequat. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Ipsum dolor sit amet consectetur adipiscing elit. Massa sed elementum tempus egestas sed sed risus pretium quam. 
            Amet dictum sit amet justo. Venenatis cras sed felis eget velit. Libero justo laoreet sit amet cursus sit amet. Elit eget gravida cum sociis.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>